In [1]:
from datetime import datetime, timedelta

import matplotlib.pyplot as plt
import numpy as np
import os
import pandas as pd

print('Setup complete')

Setup complete

## Checking files

In [2]:
dir = os.listdir('./')
for item in dir:
    print(item)

.ipynb_checkpoints
Berou_Tracker.xlsx
dashboard plots.ipynb
EmpasisBerouTabo_Tracker.xlsx
Empasis_Tracker.xlsx
Plots.ipynb

## Loading the data

In [3]:
df = pd.read_excel('./EmpasisBerouTabo_Tracker.xlsx')
df.head()

,Date,Time Started,Time Finisheed,Duration (mins),Description,How I feel,Value
0,2023-10-06 00:00:00,08:30:00,09:00:00,30,Breakfast,Good,Important
1,2023-10-06 00:00:00,09:00:00,10:30:00,90,Attended class,Normal,Important
2,2023-10-06 00:00:00,10:30:00,12:00:00,90,Coding,Slightly Tired,Normal
3,2023-10-06 00:00:00,12:00:00,12:30:00,30,Lunch,Good,Important
4,2023-10-06 00:00:00,12:30:00,13:00:00,30,Browsing social media,Normal,Low

## Cleaning Date

In [4]:
date_col = df["Date"].tolist()

for i in range(len(date_col)):
    if isinstance(date_col[i], str):
        date_col[i] = date_col[i].strip()

        if date_col[i] == '10//22/2023':
            date_col[i] = '10/22/2023'
        
        try:
            date_obj = datetime.strptime(date_col[i], "%m/%d/%Y")
        except ValueError:
            date_obj = datetime.strptime(date_col[i], "%m/%d/%Y %H:%M")
        finally:
            date_col[i] = date_obj.date()
    else:
        date_col[i] = date_col[i].date()

df["Date"] = date_col
df.head()

,Date,Time Started,Time Finisheed,Duration (mins),Description,How I feel,Value
0,2023-10-06,08:30:00,09:00:00,30,Breakfast,Good,Important
1,2023-10-06,09:00:00,10:30:00,90,Attended class,Normal,Important
2,2023-10-06,10:30:00,12:00:00,90,Coding,Slightly Tired,Normal
3,2023-10-06,12:00:00,12:30:00,30,Lunch,Good,Important
4,2023-10-06,12:30:00,13:00:00,30,Browsing social media,Normal,Low

## Cleaning Time Started

In [5]:
ts_col = df["Time Started"]

for i in range(len(ts_col)):
    if isinstance(ts_col[i], str):
        ts_col[i] = ts_col[i].strip()

        try:
            time_obj = datetime.strptime(ts_col[i], "%H:%M")
        except ValueError:
            time_obj = datetime.strptime(ts_col[i], "%H:%M:%S %p")

        ts_col[i] = time_obj.time()

    try:
        ts_col[i] = ts_col[i].time()
    except:
        pass

df["Time Started"] = ts_col
df.head()

,Date,Time Started,Time Finisheed,Duration (mins),Description,How I feel,Value
0,2023-10-06,08:30:00,09:00:00,30,Breakfast,Good,Important
1,2023-10-06,09:00:00,10:30:00,90,Attended class,Normal,Important
2,2023-10-06,10:30:00,12:00:00,90,Coding,Slightly Tired,Normal
3,2023-10-06,12:00:00,12:30:00,30,Lunch,Good,Important
4,2023-10-06,12:30:00,13:00:00,30,Browsing social media,Normal,Low

## Cleaning Duration

In [6]:
duration_col = df["Duration (mins)"]

for i in range(len(duration_col)):
    if isinstance(duration_col[i], str):
        if not duration_col[i].find(' and ') == -1:
            hour, min = duration_col[i].split(' and ')
            hour = int(hour[:-2])
            min = int(min.split(' ')[0])

            duration_col[i] = hour * 60 + min
            continue

        if duration_col[i].endswith('hr'):
            duration_col[i] = int(duration_col[i][:-2]) * 60
            continue
        
        if duration_col[i].endswith('hrs'):
            duration_col[i] = int(duration_col[i][:-3]) * 60
            continue
            
        if duration_col[i].endswith('mins'):
            duration_col[i] = int(duration_col[i][:-4])
            continue

        if duration_col[i].endswith('hour'):
            duration_col[i] = int(duration_col[i][:-4])
            continue

        if duration_col[i].endswith('hours'):
            duration_col[i] = int(duration_col[i][:-5])
            continue

df["Duration (mins)"] = duration_col
df.head()

,Date,Time Started,Time Finisheed,Duration (mins),Description,How I feel,Value
0,2023-10-06,08:30:00,09:00:00,30,Breakfast,Good,Important
1,2023-10-06,09:00:00,10:30:00,90,Attended class,Normal,Important
2,2023-10-06,10:30:00,12:00:00,90,Coding,Slightly Tired,Normal
3,2023-10-06,12:00:00,12:30:00,30,Lunch,Good,Important
4,2023-10-06,12:30:00,13:00:00,30,Browsing social media,Normal,Low

## Cleaning Time Finished

In [7]:
for i in range(len(df)):
    if not isinstance(df.iloc[i]["Duration (mins)"], int):
        df.iloc[i]["Duration (mins)"] = int(df.iloc[i]["Duration (mins)"])
        
    time_started = datetime.combine(datetime.today(), df.iloc[i]["Time Started"])
    df.iloc[i]["Time Finisheed"] = time_started + timedelta(minutes=df.iloc[i]["Duration (mins)"])

df.head()

C:\Users\Brent\AppData\Local\Temp\ipykernel_4516\1349778800.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.iloc[i]["Time Finisheed"] = time_started + timedelta(minutes=df.iloc[i]["Duration (mins)"])

,Date,Time Started,Time Finisheed,Duration (mins),Description,How I feel,Value
0,2023-10-06,08:30:00,09:00:00,30,Breakfast,Good,Important
1,2023-10-06,09:00:00,10:30:00,90,Attended class,Normal,Important
2,2023-10-06,10:30:00,12:00:00,90,Coding,Slightly Tired,Normal
3,2023-10-06,12:00:00,12:30:00,30,Lunch,Good,Important
4,2023-10-06,12:30:00,13:00:00,30,Browsing social media,Normal,Low

In [47]:
desc_col = df["Description"]

for i in range(len(desc_col)):
    desc_col[i] = desc_col[i].lower()

for i in range(len(desc_col)):
    if not desc_col[i].find('class') == -1:
        desc_col[i] = 'attended class'
        continue

    if not desc_col[i].find('social media') == -1:
        desc_col[i] = 'social media'
        continue

    if not desc_col[i].find('breakfast') == -1:
        desc_col[i] = 'had breakfast'
        continue

    if not desc_col[i].find('lunch') == -1:
        desc_col[i] = 'had lunch'
        continue

    if not desc_col[i].find('dinner') == -1:
        desc_col[i] = 'had dinner'
        continue

    if not desc_col[i].find('waking') == -1:
        desc_col[i] = 'woke up'
        continue

    if not desc_col[i].find('sleep') == -1:
        desc_col[i] = 'slept'
        continue

    if not desc_col[i].find('study') == -1:
        desc_col[i] = 'studied'
        continue

    if not desc_col[i].find('eat') == -1:
        desc_col[i] = 'ate'
        continue

    if not desc_col[i].find('driving') == -1:
        desc_col[i] = 'travelling'
        continue

    if not desc_col[i].find('riding') == -1:
        desc_col[i] = 'travelling'
        continue

    if not desc_col[i].find('going') == -1:
        desc_col[i] = 'travelling'
        continue

    if not desc_col[i].find('went') == -1:
        desc_col[i] = 'travelling'
        continue

    if not desc_col[i].find('relax') == -1:
        desc_col[i] = 'rested'
        continue

    if not desc_col[i].find('rest') == -1:
        desc_col[i] = 'rested'
        continue

    if not desc_col[i].find('games') == -1:
        desc_col[i] = 'played games'
        continue

    if not desc_col[i].find('cook') == -1:
        desc_col[i] = 'cooked'
        continue

    if not desc_col[i].find('school works') == -1:
        desc_col[i] = 'did school works'
        continue

In [48]:
for x in desc_col.unique():
    print(x)

had breakfast
attended class
coding
had lunch
social media
slept
took a bath
travelling
rested
had dinner
played games
prepped for school
woke up
cooked
brunch
did school works
nag kilis ug bugas nya naglung'ag
timpla kape
washed my motorcycle
washed dishes
studied
travel to school
getting ready to school
standby at the library
searching and borrow book in library
celebrating a friend's bday
ate
taking exam
arrived at school
fixed the chain of my motorcycle
mcdonalds
refilled the water buckets
in line to get a ticket
ate outside
washed my bike
woke up to refill the buckets
detailed my motorcycle again
got ready to go to the meet up spot
arrived at shell manduae
waited for the others to arrive
displayed our bikes for the event
met some influencers in luzon,visayas, and mindanao