In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import math
import os
from datetime import datetime

print("Setup complete")

Setup complete

In [2]:
for dir in os.listdir('./'):
    print(dir)

.ipynb_checkpoints
Berou_Tracker.xlsx
Empasis_Tracker.xlsx
Plots.ipynb

## Cleaning Date/TIme

In [3]:
berou_data = pd.read_excel('./Berou_Tracker.xlsx')
datetime_col = berou_data["Date/Time"]
datetime_col = [row for row in datetime_col]

date_col = []
time_col = []

for row in datetime_col:
    date = row.split(' ')
    date_col.append(date[0])
    time_col.append(date[1])

## Processing Date Column

In [4]:
for i in range(len(date_col)):
    try:
        date_object = datetime.strptime(date_col[i], "%m/%d/%Y")
        date_col[i] = date_object.strftime("%Y-%m-%d")
    except ValueError:
        date_object = datetime.strptime(date_col[i], "%m//%d/%Y")
        date_col[i] = date_object.strftime("%Y-%m-%d")

## Processing Time Column

In [5]:
for i in range(len(time_col)):
    if not (time_col[i].find(';') == -1):
        time_col[i] = time_col[i].replace(';', ':')

    if time_col[i].endswith('am'):
        time_col[i] = time_col[i][:-2]
        time_col[i] += ' AM'
    elif time_col[i].endswith('pm'):
        time_col[i] = time_col[i][:-2]
        time_col[i] += ' PM'
    else:
        time_col[i] += ' AM'

In [6]:
for time in time_col:
    print(time)

10:00 AM
6:15 AM
6:30 PM
12:00 PM
1:40 PM
6:01 PM
6:40 PM
10:24 AM
12:40 PM
12:54 PM
4:26 PM
6:47 PM
9:56 PM
12:18 AM
2:34 AM
9:00 AM
11:00 AM
12:00 PM
1:00 PM
3:00 PM
3:30 PM
6:00 PM
7:11 PM
9:30 PM
11:48 PM
12:50 AM
6:40 AM
7:35 AM
10:00 AM
12:30 PM
3:00 PM
4:30 PM
6:00 PM
7:20 PM
10:11 PM
10:30 PM
12:58 AM
9:33 AM
12:50 PM
1:00 PM
3:00 PM
5:00 PM
6:00 PM
8:50 PM
12:50 AM
10:20 AM
11:30 AM
12:11 PM
1:30 PM
3:00 PM
4:00 PM
6:42 PM
7:57 PM
10:02 PM
12:46 AM
9:00 AM
11:00 AM
12:00 PM
1:00 PM
3:00 PM
3:30 PM
6:00 PM
7:50 PM
9:28 PM
9:40 PM
10:43 PM
6:05 AM
6:20 AM
10:26 AM
11:07 AM
2:23 PM
2:33 PM
5:17 PM
9:08 PM
11:49 PM
8:55 AM
10:00 AM
12:22 PM
12:35 PM
1:48 PM
5:14 PM
7:31 PM
9:21 PM
12:18 AM
9:00 AM
11:00 AM
12:00 PM
1:00 PM
2:00 PM
3:25 PM
12:00 AM
7:00 AM
7:42 AM
10:00 AM
10:52 PM
12:30 PM
1:00 PM
1:30 PM
2:00 PM
7:35 PM
9:49 PM
10:57 AM
1:23 PM
2:57 PM
8:43 PM
9:10 PM
11:15 AM
12:58 AM
4:00 AM
5:00 AM
5:35 AM
10:30 AM
12:00 AM
1:00 PM
3:00 PM
6:00 PM
7:00 PM
9:00 PM
7:00 AM
10:00 AM
11:00 AM
11:30 AM
1:00 PM
3:00 PM
4:00 PM
3:00 AM
5:00 AM
7:00 AM
9:00 AM
10:05 AM
11:00 AM
12:00 PM
12:40 PM
1:00 PM
3:00 PM
7:00 PM
10:00 PM
2:00 AM

In [7]:
for i in range(len(time_col)):
    try:
        time_object = datetime.strptime(time_col[i], "%I:%M %p")
        time_col[i] = time_object.strftime("%H:%M")
    except:
        continue

In [8]:
for time in time_col:
    print(time)

10:00
06:15
18:30
12:00
13:40
18:01
18:40
10:24
12:40
12:54
16:26
18:47
21:56
00:18
02:34
09:00
11:00
12:00
13:00
15:00
15:30
18:00
19:11
21:30
23:48
00:50
06:40
07:35
10:00
12:30
15:00
16:30
18:00
19:20
22:11
22:30
00:58
09:33
12:50
13:00
15:00
17:00
18:00
20:50
00:50
10:20
11:30
12:11
13:30
15:00
16:00
18:42
19:57
22:02
00:46
09:00
11:00
12:00
13:00
15:00
15:30
18:00
19:50
21:28
21:40
22:43
06:05
06:20
10:26
11:07
14:23
14:33
17:17
21:08
23:49
08:55
10:00
12:22
12:35
13:48
17:14
19:31
21:21
00:18
09:00
11:00
12:00
13:00
14:00
15:25
00:00
07:00
07:42
10:00
22:52
12:30
13:00
13:30
14:00
19:35
21:49
10:57
13:23
14:57
20:43
21:10
11:15
00:58
04:00
05:00
05:35
10:30
00:00
13:00
15:00
18:00
19:00
21:00
07:00
10:00
11:00
11:30
13:00
15:00
16:00
03:00
05:00
07:00
09:00
10:05
11:00
12:00
12:40
13:00
15:00
19:00
22:00
02:00

In [9]:
berou_data.head()

,Date/Time,Act Description,How I feel,Duration,Value
0,10/7/2023 10:00am,Sleep,relaxed,8hrs,high
1,10/7/2023 6;15am,nag kilis ug bugas nya naglung'ag,happy,5mins,medium
2,10/7/2023 6:30pm,timpla kape,happy,5mins,medium
3,10/7/2023 12:00pm,cooked lunch,hungry,20mins,high
4,10/7/2023 1:40pm,sleep,tired,5hrs,medium

In [10]:
berou_data = berou_data.drop('Date/Time', axis=1)

In [11]:
berou_data['Date'] = date_col
berou_data['Time'] = time_col

In [12]:
berou_data.head()

,Act Description,How I feel,Duration,Value,Date,Time
0,Sleep,relaxed,8hrs,high,2023-10-07,10:00
1,nag kilis ug bugas nya naglung'ag,happy,5mins,medium,2023-10-07,06:15
2,timpla kape,happy,5mins,medium,2023-10-07,18:30
3,cooked lunch,hungry,20mins,high,2023-10-07,12:00
4,sleep,tired,5hrs,medium,2023-10-07,13:40

In [13]:
duration_col = berou_data['Duration']

new_duration = []

for duration in duration_col:
    if duration.endswith('hrs'):
        value = duration[:-3]
        value = int(value)
        value = value * 60
    elif duration.endswith('mins'):
        value = duration[:-4]

    new_duration.append(value)

In [14]:
for duration in new_duration:
    print(duration)

480
5
5
20
300
30
20
180
14
240
240
240
240
120
480
120
120
120
180
30
180
120
180
240
240
420
40
180
180
180
120
120
120
180
15
240
540
180
10
120
180
180
120
300
600
600
600
600
120
120
180
180
180
180
120
120
120
120
180
30
180
120
120
15
15
540
15
300
30
240
10
180
240
120
480
480
120
13
40
300
120
120
240
540
120
120
120
120
120
25
420
42
180
52
120
20
20
20
20
180
480
240
240
360
30
30
35
180
40
10
120
1hr and 30
1hr and 30
1hr and 30
1hr and 30
1hr and 30
1hr and 30
1hr and 30
120
120
20
20
20
120
120
45
45
35
20
30
30
30
20
20
30
30
30
30

In [19]:
for i in range(len(new_duration)):
    if new_duration[i].find('and'):
        values = new_duration[i].split(' and ')
        print(values)

AttributeError: 'int' object has no attribute 'find'